
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

.settings/
.idea
.cache
.cache/
wandb
wandb/
visual
visual/
logs
logs/
logs_supervised
logs_supervised/
env
env/
backdoor/stegastamp_pretrained
backdoor/stegastamp_pretrained/
.vscode
.vscode/
condor_jobs
*.pkl
*.pickle
*.log
*.tsv
*.out


*.pt
*pycache*

*.swf
*.air
*.ipa
*.apk


